#root {
    height: 100vh !important;
    background-color: #282c34;
}

.container {
    padding: 0px;
    justify-content: center;
}

.card {
    height: 100vh !important;
    border: none;
}

.card-header, .card-body, .card-footer {
    border-width: 0px !important;
}

.card-header {
    border-radius: 0px !important;
    background-color: #282c34;
    padding: 18px 24px;
    color: white;
    letter-spacing: 1px;
}

.three-dots {
    background-color: transparent;
    border: none;
    padding: 0px;
    color: #ffffff;
}

.three-dots:hover {
    background-color: transparent;
    border: none;
    padding: 0px;
    color: #ffffff;
}

.menu-item {
    font-size: 12px;
}

.menu-item, a {
    text-decoration: none !important;
    color: #282c34;
}

.menu-item, a:hover {
    color: #282c34;
}

.card-footer {
    padding: 0px;
}

.message-input {
    border-radius: 0px !important;
    border: none !important;
    border-width: 0px;
    padding: 28px 24px !important;  
    background-color: #282c34;
    letter-spacing: 1px;
    color:  #8a8a8a;
    font-size: 14px;
}

.message-input:focus {
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
    background-color: #282c34;
    color: #8a8a8a;
}

.send-append {
    background-color: #282c34;
    color: #8a8a8a;
    border-radius: 0px !important;
    border-width: 0px;
    padding: 12px 24px;
}

.send-append:hover {
    color: #979797;
    font-size: 15px;
}

/* =============== card body (timeline) =============== */

.card-body {
    background-color: #21252b;
    letter-spacing: 0.5px;
    font-size: 14px;
    display: flex;
    padding: 0px 0px 0px 0px;
}

.message-container {
    padding: 12px;
}

.message-box {
    background-color: #ffffff;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 4px !important;
}

p, .message-box {
    margin: 0px;
}

.sent-text {
    font-size: 11px;
    color: #979797;
}

.justify-start > .message-box {
    border-radius: 4px 14px 14px 14px;
    justify-content: start !important;
}

.justify-end > .message-box {
    border-radius: 14px 4px 14px 14px;    
}

.message-container .justify-end {
    justify-content: end;
}

/* .card-body {
    width: auto;
    background-color: #21252b;
    letter-spacing: 1px;
    padding: 0px;
    display: flex;
}

.messageBox {
    background: #F3F3F3;
    border-radius: 20px;
    padding: 8px 20px;
    color: white;
    display: inline-block;
    max-width: 80%;
  }
  
  .messageText {
    width: 100%;
    letter-spacing: 0;
    float: left;
    font-size: 14px;
    word-wrap: break-word;
    margin: 0%;
    vertical-align: middle;
  }
  
  .messageText img {
    vertical-align: middle;
  }
  
  .messageContainer {
    display: flex;
    justify-content: flex-end;
    margin: 12px 12px 12px 12px;
  }
  
  .sentText {
    display: flex;
    align-items: center;
    font-family: Helvetica;
    color: #828282;
    letter-spacing: 0.3px;
  }
  
  .pl-10 {
    padding-left: 10px;
  }
  
  .pr-10 {
    padding-right: 10px;
  }
  
  .justifyStart {
    justify-content: flex-start;
  }
  
  .justify-end {
    justify-content: flex-end;
    border-radius: 24px 12px 24px 24px;
  }
  
  .colorWhite {
    color: white;
  }
  
  .colorDark {
    color: #353535;
  }
  
  .backgroundBlue {
    background: #2979FF;
  }
  
  .backgroundLight {
    background: #F3F3F3;
  } */