#root {
    height: 100vh !important;
    background-color: #282c34;
}

.join-container {
    padding-top: 12rem !important;
    padding-bottom: 12rem !important;
}

.login-form {
    margin: auto;
    background-color: #ffffff;
    border-radius: 12px;
}

.login:focus {
    outline: 0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}

.btn-primary {
    background-color: tomato !important;
    border: none;
}

.btn-primary:hover {
    background-color: tomato !important;
    border: none;
}
